<nav>
    <div style="margin:5px">
        <a href="/">Inicio</a>
        <a href="{% url 'postar' %}">Postar</a>
    </div>
    <div class='m-1 d-flex p-0'>
        {% if user.is_authenticated %}
        <form action=" {% url "logout" %} " method="post" class="m-0 p-0">
            {% csrf_token %}
            <input type="submit" value="Logout" class="m-0 p-0 border-0 bg-transparent text-white m-1">
        </form>
        <a href="#">{{ user }}</a>
        {% else %}
        <a href="{% url "login" %}">Login</a>
        <a href="{% url "signup" %}">Cadastro</a>
        {% endif %}
        
        
        
    </div>
</nav>