body {
    background-color: black;
    color: white;
    font-family: Display;
}

#enviar {
    text-decoration: none;
    font-family: Playfair Display;
    color: white;
    background-color:#0a476b;
    border-radius: 5px;
    gap: 20px;
}
#enviar:hover {
    background-color: #6485a0 !important;
}

#criar {
    text-decoration: none;
    font-family: Playfair Display;
    color: white;
    background-color:#6485a0;
    border-radius: 5px;
    width: 120px;
    height: 30px;
    margin-bottom: 20px;
    border: none;
}
#criar:hover {
    background-color: #0a476b !important;
}



#nav {
    text-decoration: none;
    color: white;
    padding: 5px;
    border-radius: 2px;
    transition: 0.5s all;
}

#ler {
    text-decoration: none;
    color: white;
    background-color:#6485a0;
    padding: 5px;
    border-radius: 2px;
    width: 200px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
}

nav a {
    color: rgb(255, 255, 255);
    transition: all 0.6s;
    text-decoration: none;
    padding: 5px;
    margin: 0 10px;
    border: #3473a7 solid 1px;
    border-radius: 5px;
    height: fit-content;
}

nav a:hover {
    background-color: #81abe0;
}

#conteudo {
    margin: 20px;
}

#posts {
    gap: 20px;
}

.card {
    padding: 0;
    width: 350px;
}

.card .img {
    max-width: 285px;
    height: 150px;
}  

.card > .img > img {
    max-width: 100%;
    max-height: 150px;
}

#div_id_capa {
    background-color:#6485a0;
    border: #3473a7 solid 1px;
    border-radius: 5px;
    font-family: Playfair Display;
}

#div_id_nome {
    background-color:#6485a0;
    border: #3473a7 solid 1px;
    border-radius: 5px;
    font-family: Playfair Display;
}

#div_id_ano {
    background-color:#6485a0;
    border: #3473a7 solid 1px;
    border-radius: 5px;
    font-family: Playfair Display;
}

#logout {
    color: rgb(255, 255, 255) !important;
    transition: all 0.6s;
    text-decoration: none;
    padding: 5px !important;
    margin-right:  15px !important;
    border: #3473a7 solid 1px !important;
    border-radius: 5px;
    
}

#logout:hover {
    background-color: #81abe0 !important;
}

#div_id_titulo {
    background-color:#6485a0;
    border: #3473a7 solid 1px;
    border-radius: 5px;
    font-family: Playfair Display;
}

#div_id_duracao {
    background-color:#6485a0;
    border: #3473a7 solid 1px;
    border-radius: 5px;
    font-family: Playfair Display;
}



#div_id_artistas {
    background-color:#6485a0;
    border: #3473a7 solid 1px;
    border-radius: 5px;
    font-family: Playfair Display;
}

#div_id_album {
    background-color:#6485a0;
    border: #3473a7 solid 1px;
    border-radius: 5px;
    font-family: Playfair Display;
}

#edit {
    text-decoration: none;
    font-family: Playfair Display;
    color: white;
    background-color:#3473a7;
    border-radius: 5px;
    height: fit-content;
    margin-top: 20px;
    margin-right: 20px;
    border: none;
}
#edit:hover {
    background-color: #b4d5f0 !important;
}

#ler {
    border-radius: 5px;
}
