body {
    background-color: black;
    color: white;
    font-family: Display;
}

#enviar {
    text-decoration: none;
    font-family: Playfair Display;
    color: white;
    background-color:#0a476b;
    border-radius: 5px;
    gap: 20px;
}

#criar {
    text-decoration: none;
    font-family: Playfair Display;
    color: white;
    background-color:#6485a0;
    border-radius: 5px;
    gap: 20px;
    width: 80px;
    height: 25px;
}


#nav {
    text-decoration: none;
    color: white;
    padding: 5px;
    border-radius: 2px;
    transition: 0.5s all;
}

#ler {
    text-decoration: none;
    color: white;
    background-color:#6485a0;
    padding: 5px;
    border-radius: 2px;
    width: 200px;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(212, 0, 255);
    width: 100%;
}

nav a {
    color: rgb(255, 255, 255);
    transition: all 0.6s;
    text-decoration: none;
    padding: 5px;
    margin: 0 10px;
}

nav a:hover {
    background-color: rgb(224, 104, 248);
}

#conteudo {
    margin: 20px;
}

#posts {
    gap: 20px;
}

.card {
    padding: 0;
    width: 350px;
}

.card .img {
    max-width: 285px;
    height: 150px;
}  

.card > .img > img {
    max-width: 100%;
    max-height: 150px;
}